<h2>Customer Orders</h2>
<br>
Filter: <input type="text" ng-model="orderFilter.product">
<br><br>

<table>
    <tr>
        <th ng-click="doSort('product')">Product</th>
        <th ng-click="doSort('total')">Total</th>
    </tr>
    <tr ng-repeat="order in orders | filter: orderFilter | orderBy:sortBy:reverse">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr ng-class="totalType">
        <td>&nbsp</td>
        <td>{{ ordersTotal | currency }}</td>
    </tr>
</table>