<h2 class="text-center">Customer Orders</h2>
<br>
<div class="text-right">
    Filter: <input type="text" ng-model="orderFilter.product">
</div>
<br>
<br>

<table class="table table-striped">
    <tr>
        <th ng-click="doSort('product')">Product</th>
        <th ng-click="doSort('total')">Total</th>
    </tr>
    <tr ng-repeat="order in orders | filter: orderFilter | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr ng-class="totalType">
        <td>&nbsp</td>
        <td>{{ ordersTotal | currency }}</td>
    </tr>
</table>