<h2 class="text-center">{{ customer.name }}'s Orders</h2>
<br>
<table class="table">
    <tr>
        <th ng-click="doSort('product')">Product</th>
        <th ng-click="doSort('total')">Total</th>
    </tr>
    <tr ng-repeat="order in customer.orders | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
    <tr ng-class="totalType">
        <td>&nbsp;</td>
        <td>{{ ordersTotal | currency }}</td>
    </tr>
</table>